{% assign document = post | default: page %}
{% assign show_date = document.show_date | default: site.show_date %}
{% assign read_time = document.read_time | default: site.read_time %}
{% if read_time or show_date %}
  <span class = "{{ include.type }}">
  {% if include.type == "post-page-meta" %}
    <p class="page_meta">
  {% endif %}
  {% if include.type == "post-card-meta" %}
    <span class="meta-pre"></span>
  {% endif %}
  {% unless include.date == "none" %}
    {% if show_date and document.date %}
      {% assign date = document.date %}
      <{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %} class="page_meta-date">
        <time datetime="{{ date | date_to_xmlschema }}">{% include date_localized.html date=date %}</time>
      </{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %}>
    {% endif %}
    {% unless include.type == "recent-item-meta" %}
      {% if read_time and show_date %}<span class="meta-sep"></span>{% endif %}
    {% endunless %}
  {% endunless %}
  {% if read_time %}
    {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
    {% assign words = document.content | strip_html | number_of_words %}
    <{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %} class="page_meta-readtime">
      {% if words < words_per_minute %}
        Leestijd: minder dan 1 minuut
      {% elsif words == words_per_minute %}
        Leestijd: 1 minuut
      {% else %}
        Leestijd: {{ words | divided_by: words_per_minute }} minuten
      {% endif %}
    </{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %}>
  {% endif %}
  {% if include.type == "post-page-meta" %}
    </p>
  {% endif %}
  </span>
{% endif %}