.archive ul {
    padding: 15px 0 0;
    margin: 0;
    list-style: none;
}

a.post-list-title {
    text-decoration: none;
    font-family: var(--font2);
    font-weight: var(--font2-bold);
    font-size: 2em;
    color: var(--text);
}

.post-list-subtitle {
    font-size: 1.2em;
    font-style: italic;
    color: var(--grey2);
    margin: 0.5em 0 1em;
}